

<!--Main Navigation-->
    <ng-container>
      <div class="container" *ngIf="isLoaded">
        <div class="row mt-sm">
          <div class="col-md-6 offset-md-0">
            <div class="card mt-4">
              <h4 class="card-header">Deposit Balance</h4>
              <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="transaction()">
                  <div class="form-group">
                    <label for="users_id">From Account</label>
                    <input type="text" formControlName="users_id" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label for="amount">Amount</label>
                    <div class="row">
                      <div class="col-md-4">
                        <input type="number" formControlName="amount" class="form-control" />
                      </div>
                      <div class="col-md-6">
                        Current Balance : {{debitBalance}}
                      </div>
                    </div>
                    <span class="text-danger" *ngIf="isAmount || form.controls['amount'].invalid ">Please enter proper amount</span>

                  </div>
                  <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <input type="text" formControlName="remarks" class="form-control" />
                  </div>

                  <div class="form-group">

                    <div class="mt-3">
                      <button type="submit" [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Transferred
                      </button>
                      <a [routerLink]="['../../dashboard']" class="btn btn-link">Cancel</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-container>
